<!DOCTYPE html>
<html>
<head>
  <title>EHarvest</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if params[:controller] == "home"  || params[:controller] == "devise/sessions" %>
		<div class="lander">
	<% else %>
		<%= render 'layouts/header' %>
	<% end %>

	<div class="container">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"<%= value %></div>
		<% end %>

		<%= yield %>
	</div>

	<% if params[:controller] == "home" %>
		</div>
	<% end %>


</body>
</html>
